<app-navbar-manage backRoute="/dashboard-admin"></app-navbar-manage>
<!-- CONTENIDO PRINCIPAL -->
<div class="page-wrapper">
  <app-navbar-admin></app-navbar-admin>
  <div class="container">
    <app-card-register type="parada"></app-card-register>
    <app-card-list type="parada" 
    (viewItem)="showDetails($event)"
    (editItem)="showUpdateDetails($event)"
    (deleteItem)="showDelete($event)">

    </app-card-list>
  </div>
</div>

<!-- Modal de detalles a nivel de página -->
<app-record-information 
  *ngIf="showModal"
  type="parada"
  [record]="stopSelected"
  (closed)="closeModal()">
</app-record-information>

<app-update-record
  *ngIf="showUpdateModal"
  type="parada"
  [record]="stopSelected"
  (saved)="onSaved($event)"
  (closed)="closeUpdateModal()">
</app-update-record>

<!-- Modal: eliminar registro -->
<app-delete-record
  *ngIf="showDeleteModal"
  type="parada"
  [record]="stopSelected"
  (confirm)="onConfirmDelete($event)"
  (cancel)="closeDeleteModal()">
</app-delete-record>