<div class="sidebar">
  
  <div class="admin-section">
    <h3>Administrar</h3>

    <a routerLink="/superadmin/admins" class="menu-item" routerLinkActive="active">
      <mat-icon>group</mat-icon> Administradores
    </a>

    <a routerLink="/superadmin/schools" class="menu-item" routerLinkActive="active">
      <mat-icon>school</mat-icon> Escuelas
    </a>
  </div>

  <div class="bottom-section">
    <a routerLink="/admin/informacion" class="menu-item" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> Perfil
    </a>
  </div>

</div>