input {
    padding: 10px;
    border-radius: 5px;
    border: #68768e 1px solid;
    transition: border 0.2s ease;
}

input:focus {
    border: #366fea 1px solid;
    outline: none;
}

input.ng-invalid.ng-touched {
    border: 1px red solid;
}

label {
    margin-bottom: 7px;
    font-size: 1rem;
}

p {
    color: #68768e;
    margin-bottom: 50px;
    margin-top: 18px;
}
form {
    display: flex;
    flex-direction: column;
}

.error {
    position: absolute;
    top: 68px; 
    left: 0;
    color: red;
    font-size: 0.75rem;
    line-height: 1;
    z-index: 10;
}

.input-telephone {
    display: flex;
    flex-direction: column;
    position: relative;
}