<app-navbar-manage backRoute="/dashboard-admin"></app-navbar-manage>
<!-- CONTENIDO PRINCIPAL -->
<div class="page-wrapper">
  <app-navbar-admin></app-navbar-admin>
  <div class="container">
    <app-card-register
      type="bus"
      [fieldOptions]="fieldOptions"
      (formSubmit)="onCreated($event)"
    ></app-card-register>
    <app-card-list type="bus" 
    [data]="buses"
    [remoteSearch]="true"
    [showAssign]="true"
    (search)="onSearch($event)"
    (viewItem)="showDetails($event)" 
    (editItem)="showUpdateDetails($event)"
    (deleteItem)="showDelete($event)"
    (assignItem)="showAssignDetails($event)">
    </app-card-list>
  </div>
</div>

<!-- Modal de detalles a nivel de página -->
<app-record-information 
  *ngIf="showModal"
  type="bus"
  [record]="busSelected"
  (closed)="closeModal()">
</app-record-information>

<app-update-record
  *ngIf="showUpdateModal"
  type="bus"
  [record]="busSelected"
  [fieldOptions]="fieldOptions"
  (saved)="onSaved($event)"
  (closed)="closeUpdateModal()">
</app-update-record>

<!-- Modal: eliminar registro -->
<app-delete-record
  *ngIf="showDeleteModal"
  type="bus"
  [record]="busSelected"
  (confirm)="onConfirmDelete($event)"
  (cancel)="closeDeleteModal()">  
  
</app-delete-record>

<!-- Modal: asignar/desasignar conductor del bus -->
<app-assign-record
  *ngIf="showAssignModal"
  type="bus"
  [record]="busSelected"
  (assigned)="onAssigned()"
  (closed)="closeAssignModal()">
</app-assign-record>