<app-change-password
  iconHead="lock"
  [title]="'forgot_password.reset.title' | translate"
  [sessionDescription]="'forgot_password.reset.session_description' | translate"
  [titleStep]="'forgot_password.reset.title_step' | translate"
  [loginDescription]="'forgot_password.reset.login_description' | translate"
  [buttonText]="'forgot_password.reset.button' | translate"
  [returnStep]="'forgot_password.reset.return' | translate"
  [showProgress]="true"
  [currentStep]="3"
  [stepText]="'forgot_password.reset.step_text' | translate"
  (return)="return()"
  (submit)="onSubmit()">

  <form action="" [formGroup]="form">

    <div class="input-password">
      <!-- Nueva contraseña -->
       <div class="password">
         <label for="password">{{ 'forgot_password.reset.fields.password' | translate }}</label>
         <input type="password" id="password" formControlName="password">
       </div>
  
      <div class="container-errors">
        @if (form.get('password')?.touched) {
          @if (form.get('password')?.errors?.['required']) {
            <small class="error">{{ 'forgot_password.reset.errors.required' | translate }}</small>
          }
          @if (form.get('password')?.errors?.['minlength']) {
            <small class="error">{{ 'forgot_password.reset.errors.minlength' | translate }}</small>
          }
          @if (form.get('password')?.errors?.['pattern']) {
            <small class="error">{{ 'forgot_password.reset.errors.pattern' | translate }}</small>
          }
        }
      </div>
    </div>

    <div class="input-confirm-password">
      <!-- Confirmar contraseña -->
      <label for="confirmPassword">{{ 'forgot_password.reset.fields.confirm_password' | translate }}</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
  
      <div class="container-errors-confirm">
        @if (form.get('confirmPassword')?.touched && form.get('confirmPassword')?.errors?.['required']) {
          <small class="error1">{{ 'forgot_password.reset.errors.required' | translate }}</small>
        }
        @if (form.errors?.['passwordNoMatch'] && form.get('confirmPassword')?.touched) {
          <small class="error1">{{ 'forgot_password.reset.errors.no_match' | translate }}</small>
        }
      </div>
    </div>

  </form>


</app-change-password>