input {
  padding: 10px;
  border-radius: 5px;
  border: #68768e 1px solid;
  transition: border 0.2s ease;
}

input:focus {
  border: #366fea 1px solid;
  outline: none;
}

input.ng-invalid.ng-touched {
  border: 1px red solid;
}

label {
  margin-bottom: 7px;
  font-size: 1rem;
}

p {
  color: #68768e;
  margin-bottom: 50px;
}
form {
  display: flex;
  flex-direction: column;
}

.password {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
}

.container-errors {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 55px;
  gap: 2px;
}

.error {
  color: red;
  position: static;
  left: 0;
  top: 0;
}

/* ------------------------- */
.input-confirm-password,
.input-password {
  display: flex;
  flex-direction: column;
}

.error1 {
  color: red;
  position: static;
  left: 0;
  bottom: 0;
}

.container-errors-confirm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 35px;
  gap: 2px;
}
