<div class="layout">
    <app-nav-component></app-nav-component>
    
    <main>
        <div class="container-session">
            <div class="sesion-left">
                <mat-icon class="shield">shield</mat-icon>
    
                <h1 class="panel-sesion">Bienvenido de nuevo</h1>
    
                <p class="session-description">Accede al sistema completo de monitoreo de rutas escolares.</p>
    
                <div class="GPS"><mat-icon class="icon">satellite_alt</mat-icon> GPS en tiempo real</div>
                <div class="alerts"><mat-icon class="icon">notifications</mat-icon> Alertas instantáneas</div>
                <div class="report"><mat-icon class="icon">insert_chart</mat-icon> Reportes y métricas</div>
    
                <div class="edu">guardian.edu · Soporte 24/7</div>
            </div>
        
            <div class="sesion-right">
                <form #form="ngForm" (ngSubmit)="login(form)">
                    <h2>Iniciar sesión</h2>
                    <div class="login-description">Ingresa tus credenciales para acceder al panel</div>
        
                    <label for="">Correo electrónico</label>
                    <input 
                        type="text" 
                        [(ngModel)]="email"
                        name="email"
                        required
                        placeholder="tu-usuario@email.com"
                        (input)="emailError = ''">
                    <div *ngIf="emailError" class="error1">{{ emailError }}</div>
        
                    <label for="">Contraseña</label>
                    <input 
                        type="password" 
                        [(ngModel)]="password"
                        name="password"
                        required
                        (input)="passwordError = ''">
        
                    <div class="olvid">
                        <div *ngIf="passwordError" class="error">{{ passwordError }}</div>
                        <div class="password" (click)="forgot()">¿Olvidaste tu contraseña?</div>
                    </div>
        
                    <div class="btn">
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>

                <div class="line"></div>
    
                <div class="condition">Al ingresar aceptas nuestros <span class="terms term"> Términos de uso </span> y <span class="terms politic"> Política de privacidad</span></div>
            </div>
        </div>
    </main>
</div>