.env
.vs/
obj/
bin/

# Backend
dvlp-back/src/backend/.vs/
dvlp-back/src/backend/bin/
/dvlp-back/liquibase/liquibase.properties
dvlp-back/src/backend/obj/
dvlp-back/src/backend/obj/Debug

*.csproj.user
*.user
*.suo

dvlp-back/src/backend/appsettings.Development.json
