.env
.vs/
obj/
bin/

# Backend
dvlp-back/src/backend/.vs/
dvlp-back/src/backend/bin/
dvlp-back/src/backend/obj/

# Mobile app
dvlp-front/dvlp-movil/app-movil/bin/
dvlp-front/dvlp-movil/app-movil/obj/
dvlp-front/dvlp-movil/app-movil/.vs/

*.user
*.suo