mat-toolbar {
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.shield {
    color: white;
    background-color: #1c54dc;
    border-radius: 12px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.title-guardian {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

.content {
    height: 40px;
    width: 40px;
}

.spacer {
    flex: 1;
}