<footer>
    <div class="footer-header">
        <div class="col1">
            <span class="icon">
                <img src="assets/logo-blue.svg" alt="Guardian Escolar"> &nbsp;
                <div class="guardian">Guardian Escolar</div>
            </span>
            <p class="description">{{ 'footer.description' | translate }}</p>
        </div>
        <div class="cols">
            <div class="col">
                <div class="title">{{ 'footer.col_product' | translate }}</div>
                <p class="link" *ngFor="let link of linksProduct">{{ link }}</p>
            </div>
            <div class="col">
                <div class="title">{{ 'footer.col_company' | translate }}</div>
                <p class="link" *ngFor="let link of linksCompany">{{ link }}</p>
            </div>
            <div class="col">
                <div class="title">{{ 'footer.col_legal' | translate }}</div>
                <p class="link" *ngFor="let link of linksLegal">{{ link }}</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer-down">
        <div class="down-left">{{ 'footer.rights' | translate }}</div>
        <div class="down-right">
            <div class="social">guardianescolar0@gmail.com</div>
            <div class="social">guardian.edu</div>
        </div>
    </div>
</footer>