<div class="sidebar">
  <div class="admin-section">
    <h3>Usuarios</h3>
    <a routerLink="/admin/usuarios" class="menu-item" routerLinkActive="active">
      <mat-icon>person</mat-icon> Estudiante
    </a>
    <a routerLink="/admin/padres" class="menu-item" routerLinkActive="active">
      <mat-icon>escalator_warning</mat-icon> Acudiente
    </a>
    <a routerLink="/admin/conductores" class="menu-item" routerLinkActive="active">
      <mat-icon>engineering</mat-icon> Conductor
    </a>
    <a routerLink="/admin/familias" class="menu-item" routerLinkActive="active">
      <mat-icon>family_restroom</mat-icon> Familia
    </a>
  </div>
  <div class="sidebar-divider"></div>
  <div class="admin-section">
    <h3>Transporte</h3>
        <a routerLink="/admin/buses" class="menu-item" routerLinkActive="active">
      <mat-icon>directions_bus</mat-icon> Buses
    </a>
    
    <a routerLink="/admin/rutas" class="menu-item" routerLinkActive="active">
      <mat-icon>route</mat-icon> Rutas
    </a>

    <a routerLink="/admin/paradas" class="menu-item" routerLinkActive="active">
      <mat-icon>location_on</mat-icon> Paradas
    </a>
  </div>
</div>