.pin-inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.login-description {
  background-color: #D4EAFF;
  color: #366fea;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  word-wrap: break-word;
  line-height: 1.4;
  max-width: 360px;
  margin-top: -40px;
}

.pin-input {
  width: 50px;
  height: 60px;
  border-radius: 11px;
  border: 1px solid #366fea;
  text-align: center;
  font-size: 1.5rem;
  background-color: #D4EAFF;
  text-transform: uppercase;
}

.pin-input:focus {
  outline: none;
  border: 2px solid #366fea;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -50px;
}

input {
  transition: border 0.2s ease;
}

input.ng-invalid.ng-touched {
  border: 2px red solid;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}