<app-change-information
  iconHead="lock"
  [title]="'change_email.code_second.title' | translate"
  [sessionDescription]="'change_email.code_second.sessionDescription' | translate"
  [titleStep]="'change_email.code_second.titleStep' | translate"
  loginDescription=""
  [buttonText]="'change_email.code_second.buttonText' | translate"
  [returnStep]="'change_email.code_second.returnStep' | translate"
  (return)="return()"
  [showProgress]="true"
  [currentStep]="4"
  (submit)="onSubmit()"
  [stepText]="'change_email.code_second.stepText' | translate"
>
  <div class="login-description">
    <span>{{ 'change_email.code_second.description' | translate }}</span>
  </div>

  <form action="" [formGroup]="form">
    <div class="input-pin">
      <div class="pin-inputs">
        <input
          class="pin-input"
          *ngFor="let ctrl of pinControls.controls; let i = index"
          [formControl]="ctrl"
          maxlength="1"
          (input)="onInput($event, i)"
        />
      </div>
      @if (form.invalid && form.touched) {
        <small class="error">{{ 'change_email.code_second.pin_error' | translate }}</small>
      }
    </div>
  </form>
</app-change-information>
