<app-change-information iconHead="mail" title="Cambia tu correo"
  sessionDescription="Te enviaremos un código de verificación a tu correo registrado."
  titleStep="Cambiar correo" loginDescription="Ingresa el correo con el que te registraste"
  buttonText="Validar" returnStep="Volver al panel de información" (return)="return()"
  [showProgress]="true" [currentStep]="1" stepText="1 de 4" (submit)="onSubmit()">

  <form action="" [formGroup]="form">
    <label for="email">Correo electrónico</label>
    <input type="email" id="email" formControlName="email">
    @if (form.get('email')?.touched && form.get('email')?.invalid) {
      <small class="error">*Debe ser un email valido</small>
    } @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
      <small class="error">*El email es requerido</small>
    }
    <p>Recibirás un código de 6 dígitos</p>
  </form>
  
</app-change-information>