<div class="card-list">
  <!-- Título + total -->
  <div class="card-list__header">
    <h2 class="card-list__title">{{ title }}</h2>
    <span class="card-list__total">{{ items.length }}</span>
  </div>

  <!-- Buscador -->
  <div class="card-list__search">
    <input class="card-list__search-input" type="text" placeholder="Buscar..." [(ngModel)]="searchText" />
    <span class="card-list__search-icon">
      <mat-icon>search</mat-icon>
    </span>
  </div>


  <!-- Lista de items -->
  <div class="card-list__content">
    <div class="card-list__items">
      <div class="card-list__item" *ngFor="let item of items">

        <!-- Avatar -->
        <div class="card-list__avatar">
          <mat-icon>{{ icon }}</mat-icon>
        </div>

        <!-- Info -->
        <div class="card-list__info">
          <span class="card-list__name">{{ item[itemFields[0].key] }}</span>

          <ng-container *ngFor="let field of itemFields.slice(1)">
            <span class="card-list__detail" *ngIf="!field.halfWidth">
              {{ field.label ? field.label + ': ' : '' }}{{ item[field.key] }}
            </span>
          </ng-container>

          <div class="card-list__row" *ngFor="let row of rowFields">
            <span class="card-list__detail">{{ item[row[0].key] }}</span>
            <span class="card-list__detail">{{ item[row[1].key] }}</span>
          </div>
        </div>

        <!-- Acciones -->
        <div class="card-list__actions">
          <button class="card-list__btn"><mat-icon>delete</mat-icon></button>
          <button class="card-list__btn" (click)="showDetails(item)" title="Ver detalles">
            <mat-icon>visibility</mat-icon>
          </button>
          <button class="card-list__btn" (click)="editDetails(item)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>