<div class="modal-overlay" (click)="cerrar()">
  <div class="modal" (click)="$event.stopPropagation()">

    <!-- HEADER -->
    <div class="modal__header">
      <h2 class="modal__title">
        {{ titleKey | translate }}
      </h2>
    </div>

    <!-- INFO PRINCIPAL -->
    <div class="modal__header-info">
      <div class="modal__logo">
        <mat-icon>{{ config.icon }}</mat-icon>
      </div>

      <p class="modal__name">{{ displayName }}</p>

      <p class="modal__type">
        {{ ('record_information.' + type + '.title') | translate }}
      </p>
    </div>

    <!-- GRID -->
    <div class="modal__info-grid">
      <ng-container *ngFor="let field of getVisibleFields()">
        <div class="modal__info-item" [ngClass]="getGridClass(field)">
          
          <p class="modal__info-label">
            {{ getLabelKey(field.key) | translate }}
          </p>

          <p class="modal__info-value">
            {{ field.value }}
          </p>

        </div>
      </ng-container>
    </div>

    <!-- FOOTER -->
    <div class="modal__footer">
      <button
        class="modal__btn modal__btn--submit"
        type="button"
        (click)="cerrar()"
      >
        {{ 'common.close' | translate }}
      </button>
    </div>

  </div>
</div>