<div class="card-register">
  <h2 class="card-register__title">
    {{ titleKey | translate }}
  </h2>

  <form (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let group of groupedFields">
      <!-- Dos campos en fila -->
      <div class="card-register__row" *ngIf="isArray(group)">
        <ng-container *ngFor="let field of group">
          <div class="card-register__field card-register__field--half">
            <label class="card-register__label">
              {{ getLabelKey(field.name) | translate }}
            </label>
            <div class="card-register__input-wrap">
              <select *ngIf="field.type === 'select'" 
                      class="card-register__input" 
                      [(ngModel)]="formData[field.name]"
                      [name]="field.name">
                <option value="" disabled>{{ 'register.select' | translate }}</option>
                <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
              </select>
              <input *ngIf="field.type !== 'select'" 
                     class="card-register__input" 
                     [type]="field.type"
                     [(ngModel)]="formData[field.name]" 
                     [name]="field.name" />
            </div>
          </div>
        </ng-container>
      </div>

      <!-- Un campo -->
      <div class="card-register__field" *ngIf="!isArray(group)">
        <label class="card-register__label">
          {{ getLabelKey(group.name) | translate }}
        </label>
        <div class="card-register__input-wrap">
          <select *ngIf="group.type === 'select'" 
                  class="card-register__input" 
                  [(ngModel)]="formData[group.name]"
                  [name]="group.name">
            <option value="" disabled>{{ 'register.select' | translate }}</option>
            <option *ngFor="let opt of group.options" [value]="opt">{{ opt }}</option>
          </select>
          <input *ngIf="group.type !== 'select'" 
                 class="card-register__input" 
                 [type]="group.type"
                 [(ngModel)]="formData[group.name]" 
                 [name]="group.name" />
        </div>
      </div>
    </ng-container>

    <button class="card-register__btn" type="submit">
      {{ 'register.button' | translate }}
    </button>
  </form>
</div>