<div class="modal-overlay" (click)="close()">
  <div class="modal modal--small" (click)="$event.stopPropagation()">

    <div class="modal_header">

      <h2 class="modal__title">{{ titleKey | translate }}</h2>
      <p class="modal__subtitle">{{ textKey | translate }}</p>
    </div>

    <div class="modal_form-upload">
      <div class="modal_form-logo">
        <mat-icon>{{ config.icon }}</mat-icon>
      </div>
      <p class="modal__title">{{ displayName }}</p>
    </div>

    <div class="modal_footer modal__footer--center">
      <button class="modal_btn modal_btn--submit" type="button" (click)="close()">
        {{ 'common.cancel' | translate }}
      </button>

      <button class="modal_btn modal_btn--cancel" type="button" (click)="confirmDelete()">
        {{ 'common.delete' | translate }}
      </button>
    </div>

  </div>
</div>