<mat-toolbar>
    <div class="navbar-start">
        <mat-icon class="shield space">shield</mat-icon>
        <div class="title space">Guardian Escolar</div>
    </div>

    <button class="btn-menu" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    
    <div class="navbar-center" [class.active]="menuOpen">
        <div class="spaces" (click)="scrollToSection('funcionalidades')">Funcionalidades</div>
    
        <div class="spaces">Como funciona</div>
        
        <div class="spaces">Precios</div>
    
        <div class="spaces">Contacto</div>
    </div>

    <div class="navbar-end">
        <button mat-icon-button>
            <mat-icon class="person">person</mat-icon>
        </button>
    </div>
</mat-toolbar>