<mat-toolbar>
    <div class="navbar-start">
        <mat-icon class="shield space">shield</mat-icon>
        <div class="inColumn space">
            <span class="title-guardian">Guardian Escolar</span>
        </div>
    </div>

    <button class="btn-menu" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    
    <div class="navbar-end" [class.active]="menuOpen">
        <div class="spaces">Funcionalidades</div>
    
        <div class="inColumn spaces">
            <span>Como funciona</span>
        </div>
        
        <div class="spaces">Precios</div>
    
        <div class="spaces">Contacto</div>
    </div>
    

</mat-toolbar>
