<mat-toolbar>
  <a class="navbar-start" routerLink="/home">
    <img src="assets/logo-blue.svg" alt="" class="logo">
    <span class="title space">Guardian Escolar</span>
  </a>
  <div class="navbar-end">
    <button type="button" class="spaces" (click)="scrollToSection('funcionalidades')">{{ 'navbar.features' | translate }}</button>
    <button type="button" class="spaces" (click)="scrollToSection('como-funciona')">{{ 'navbar.how_it_works' | translate }}</button>
    <button type="button" class="spaces" (click)="contact()">{{ 'navbar.contact' | translate }}</button>
    @if (isLogged && canOpenDashboard) {
      <button type="button" class="spaces" (click)="goToDashboard()">{{ 'navbar.dashboard' | translate }}</button>
    }
    @if (isLogged) {
      <button type="button" class="spaces" (click)="logout()">{{ 'navbar.logout' | translate }}</button>
    } @else {
      <button type="button" mat-icon-button (click)="login()" [attr.aria-label]="'login.right.title' | translate">
        <mat-icon>person</mat-icon>
      </button>
    }
  </div>
  <button class="btn-menu" type="button" mat-icon-button (click)="openMenu()"
    [attr.aria-expanded]="menuOpen" aria-haspopup="dialog"
    [attr.aria-label]="'responsive.openMenu' | translate">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
