.btn-menu {
    display: none;
}

mat-toolbar {
    width: 100%;
    height: auto;
}

mat-toolbar,
.navbar-start,
.navbar-center,
.navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 1.8rem;
}

.space {
    margin: 0 10px;
    cursor: pointer;
}

.spaces {
    /* 
        relative permite determinar a que elemento se le aplican
        los estilos after y hover
    */
    position: relative;
    margin: 0 20px;
    color: #7f8590;
}

.spaces::after {
    /* content hace que aparezca el elemento */
    content: "";
    /* permite en este caso posicionar el elemento donde quiera, va de la mano con position: relative; */
    position: absolute;
    /* Coloca el elemento al lado izquierdo */
    left: 0;
    /* Ubica la linea un poco debajo de los campos del navbar */
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;

    /* Afecta el tamaño en el eje horizontal, es decir le da un ancho, en este caso de 0 */
    transform: scale(0);
    transform-origin: left;
    /* determina el tiempo de la transition */
    transition: transform 0.3s ease;
}

.spaces:hover {
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

.spaces:hover::after {
    /* Mantiene la linea con ancho del 100% */
    transform: scale(1);
}

.logo {
    width: 55px;
    height: 72px;
}


@media (max-width: 1024px) {
    .btn-menu {
        display: block;
    }

    .navbar-center {
        display: none;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        top: 80px;
        left: 0;
    }

    .navbar-end .person {
        display: none;
    }

    .spaces {
        margin: 15px 0;
        width: 100%;
    }

    mat-sidenav-container {
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1200;
        background: transparent;
    }

    mat-sidenav {
        box-sizing: border-box;
        background-color: white;
        border-radius: 0 !important;
        width: 300px;
        padding: 20px;
        transition: transform 0.3s ease;
        height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    mat-sidenav .spaces {
        margin: 20px 0;
        font-size: 1.2rem;
    }
    mat-sidenav .person {
        margin-bottom: 20px;
    }
    mat-sidenav-content {
        width: 100%;
    }
}