<div class="sidebar">
  
  <div class="admin-section">
    <h3>Administrar</h3>

    <a routerLink="/admin/usuarios" class="menu-item" routerLinkActive="active">
      <mat-icon>group</mat-icon> Usuarios
    </a>

    <a routerLink="/admin/buses" class="menu-item" routerLinkActive="active">
      <mat-icon>directions_bus</mat-icon> Buses
    </a>
  </div>

  <div class="bottom-section">
    <a routerLink="/admin/informacion" class="menu-item" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon> Perfil
    </a>
  </div>

</div>