<app-change-information
  iconHead="mail"
  [title]="'change_email.reset.title' | translate"
  [sessionDescription]="'change_email.reset.sessionDescription' | translate"
  [titleStep]="'change_email.reset.titleStep' | translate"
  [loginDescription]="'change_email.reset.loginDescription' | translate"
  [buttonText]="'change_email.reset.buttonText' | translate"
  [returnStep]="'change_email.reset.returnStep' | translate"
  (return)="return()"
  [showProgress]="true"
  [currentStep]="3"
  (submit)="onSubmit()"
  [stepText]="'change_email.reset.stepText' | translate"
>
  <form action="" [formGroup]="form">
    <div class="input-email">
      <label for="email">{{ 'change_email.reset.email_label' | translate }}</label>
      <input type="email" id="email" formControlName="email" />
      @if (form.get('email')?.touched && form.get('email')?.errors?.['pattern']) {
        <small class="error">{{ 'change_email.reset.error_pattern' | translate }}</small>
      }
      @if (form.get('email')?.touched && form.get('email')?.errors?.['required']) {
        <small class="error">{{ 'change_email.reset.error_required' | translate }}</small>
      }
      <p>{{ 'change_email.reset.help_text' | translate }}</p>
    </div>
  </form>
</app-change-information>
