input.ng-invalid.ng-touched {
    border: 2px red solid;
}

input {
    transition: border 0.2s ease;
}

.error {
    color: red;
    text-align: center;
}

.pin-inputs {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.pin-input {
    width: 40px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #366fea;
    text-align: center;
    font-size: 1.5rem;
    background-color: #D4EAFF;
}

.pin-input:focus {
    outline: none;
    border: 2px solid #366fea;
}

.login-description {
    background-color: #D4EAFF;
    color: #366fea;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    word-wrap: break-word;
    line-height: 1.4;
    max-width: 360px;
    margin-top: -40px;
}

.reenviar {
    color: #366fea;
}