<app-change-password iconHead="lock" title="Verifica tu correo"
  sessionDescription="Enviamos un código de 6 dígitos a tu correo." titleStep="Código de verificación"
  loginDescription="" buttonText="Validar" returnStep="Volver" (return)="return()" [showProgress]="true"
  [currentStep]="2" stepText="2 de 3" (submit)="onSubmit()">
  
  <div class="login-description">
    <span>Código enviado a <b> tu@correo.com</b>. Válido por 10 minutos.</span>
  </div>
  <form action="" [formGroup]="form">
    <div class="pin-inputs">
      <input class="pin-input" *ngFor="let ctrl of pinControls.controls; let i = index" [formControl]="ctrl"
        maxlength="1" (input)="onInput($event, i)">
    </div>
    @if (form.invalid && form.touched) {
    <small class="error">*Ingresa los 6 digitos del codigo</small>
    }
  </form>
</app-change-password>