<div class="layout">
  <app-nav-component></app-nav-component>

  <main>
    <div class="container-session">

      <!-- IZQUIERDA -->
      <div class="sesion-left">
        <mat-icon class="icon">{{ iconHead }}</mat-icon>

        <h1 class="panel-sesion">{{ title }}</h1>

        <p class="session-description">{{ sessionDescription }}</p>

        <span class="spacer"></span>

        <div class="edu">
          {{ 'change_password.rules_title' | translate }}

          <ul>
            <li>{{ 'change_password.rules.min_length' | translate }}</li>
            <li>{{ 'change_password.rules.alphanumeric' | translate }}</li>
            <li>{{ 'change_password.rules.case' | translate }}</li>
            <li>{{ 'change_password.rules.special' | translate }}</li>
          </ul>
        </div>
      </div>

      <!-- DERECHA -->
      <div class="sesion-right">

        @if (showProgress) {
          <span class="progres">
            @for (step of getProgressBars(); track step) {
              <div class="bars" [class.bar]="isStepActive(step)"></div>
            }
            <span class="color">{{ stepText }}</span>
          </span>
        }

        <h2>{{ titleStep }}</h2>

        <div class="login-description">
          {{ loginDescription }}
        </div>

        <!-- CONTENIDO DINÁMICO -->
        <ng-content></ng-content>

        <div class="btn">
          <button (click)="submit.emit()">
            {{ buttonText }}
          </button>
        </div>

        <div class="return" (click)="return.emit()">
          ← {{ returnStep }}
        </div>

      </div>
    </div>
  </main>
</div>