<mat-toolbar class="custom-toolbar">
  <!-- IZQUIERDA -->
  <div class="toolbar-start">
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
    <button (click)="goToInfo()" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <!-- TÍTULO -->
  <span class="title">Guardian Escolar</span>
  <!-- DERECHA -->
  <div class="toolbar-end">
    <button (click)="goToAdmin()" mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <button (click)="goToSuperAdmin()" mat-icon-button>
      <mat-icon>lock_person</mat-icon>
    </button>
  </div>
</mat-toolbar>