<app-change-password
  iconHead="lock"
  [title]="'change_password.current.title' | translate"
  [sessionDescription]="'change_password.current.sessionDescription' | translate"
  [titleStep]="'change_password.current.titleStep' | translate"
  [loginDescription]="'change_password.current.loginDescription' | translate"
  [buttonText]="'change_password.current.buttonText' | translate"
  [returnStep]="'change_password.current.returnStep' | translate"
  (return)="return()"
  [showProgress]="true"
  [currentStep]="1"
  [stepText]="'change_password.current.stepText' | translate"
  (submit)="onSubmit()"
>
  <form action="" [formGroup]="form">
    <div class="input-password">
      <div class="password">
        <label for="currentPassword">{{ 'change_password.current.password_label' | translate }}</label>
        <input type="password" id="currentPassword" formControlName="currentPassword" />
      </div>

      <div class="container-errors">
        @if (form.get('currentPassword')?.touched && form.get('currentPassword')?.errors?.['required']) {
          <small class="error">{{ 'change_password.current.error_required' | translate }}</small>
        }
        @if (form.get('currentPassword')?.touched && form.get('currentPassword')?.errors?.['minlength']) {
          <small class="error">{{ 'change_password.current.error_minlength' | translate }}</small>
        }
      </div>

      <p>{{ 'change_password.current.help_text' | translate }}</p>
    </div>
  </form>
</app-change-password>