<app-change-password iconHead="lock" title="Crea una contraseña segura"
  sessionDescription="Ten en cuenta las recomendaciones de seguridad." titleStep="Nueva Contraseña"
  loginDescription="Elige una contraseña que no hayas usado antes" buttonText="Guardar nueva contraseña"
  returnStep="Volver" (return)="return()" [showProgress]="true" [currentStep]="3" stepText="3 de 3"
  (submit)="onSubmit()">
  
  <form action="" [formGroup]="form">
    <label for="email">Nueva contraseña</label>
    <input type="password" id="password" formControlName="password">

    <div class="error-container">
      @if (f['password'].value) {
        @if (f['password'].hasError('required')) {
          <small class="error">La contraseña es obligatoria</small>
        }
        <!-- Validaciones individuales usando Regex directo en el template o métodos -->
        @if (!f['password'].value.match('(?=.*[A-Z])')) {
          <small class="error">Falta una mayúscula</small>
        }
        @if (!f['password'].value.match('(?=.*[0-9])')) {
          <small class="error">Falta un número</small>
        }
        @if (f['password'].value.length < 8) {
          <small class="error">Mínimo 8 caracteres</small>
        }
      }
    </div>
    
    <label for="email">Confirmar contraseña</label>
    <input type="password" id="password" formControlName="confirmPassword">
  </form>

</app-change-password>