<div class="modal-overlay" (click)="cerrar()">
  <div class="modal" (click)="$event.stopPropagation()">

    <div *ngIf="!enviado">
      <div class="modal__header">
        <h2 class="modal__title">¿Tienes algún inconveniente?</h2>
        <p class="modal__subtitle">Comunícanoslo</p>
      </div>
      <div class="modal__body">
        <label class="modal__label">Coméntanos tu problema</label>
        <textarea class="modal__textarea" placeholder="Insertar texto" [(ngModel)]="comentario" rows="5"></textarea>
      </div>
      <!-- Mensaje de error  -->
      <div *ngIf="mostrandoError" class="error-message">
        <mat-icon>error_outline</mat-icon>
        Por favor escribe tu inconveniente antes de enviar
      </div>
      <div class="modal__footer">
        <button class="modal__btn modal__btn--cancel" (click)="cerrar()">Cancelar</button>
        <button class="modal__btn modal__btn--submit" type="button" (click)="enviar()">Enviar</button>
      </div>
    </div>

    <div *ngIf="enviado">
      <div class="modal__header">
        <h2 class="modal__title">¡Mensaje enviado!</h2>
        <p class="modal__subtitle">Gracias por comentarnos tu inconveniente. Haremos lo posible por solucionarlo cuanto
          antes</p>
      </div>


      <div class="modal__footer modal__footer--center">
        <button class="modal__btn modal__btn--submit" type="button" (click)="cerrar()">Salir</button>
      </div>
    </div>

  </div>
</div>